<h3 class="title" style="text-align: center;">Super child ! ,Enjoy learning Cybersafe with interactive flips cards.</h3>

<div class="card-list">
    <div
      class="card"
      *ngFor="let item of items; let i = index"
      [class.flipped]="flipped[i]"
      (click)="toggleFlip(i)">
      <div class="card-inner">
        <div class="card-front">
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
        </div>
        <div class="card-back">
          <h4>Tips:</h4>
          <ol>
            <li *ngFor="let tip of item.tips">{{ tip }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>