<div class="youtube-background">
  <div id="youtube-background"></div>
</div>
<div class="level-container">
  <!-- Welcome Message -->
  <div *ngIf="selectedChildName" class="welcome-message">
    <h3>Welcome, {{ selectedChildName }}! Let's learn together.</h3>
  </div>
  <!-- Message -->
  <p *ngIf="message" class="error-message">{{ message }}</p>
  <!-- Dropdown for Selecting a Child -->
  <div class="dropdown-container">
    <label for="child-select">Select a Child:</label>
    <select id="child-select" [(ngModel)]="selectedChildId" (change)="onChildSelected($event)">
      <option value="" disabled selected>Select...</option>
      <option *ngFor="let child of children" [value]="child.id">{{ child.name }}</option>
    </select>
  </div>

  <h2>{{ levels[currentLevelIndex].title }}</h2>

  <!-- Current Item -->
  <div *ngIf="currentItem.type === 'video'">
    <iframe [src]="currentItem.content | safeUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
      class="video-card"></iframe>
  </div>

  <div *ngIf="currentItem.type === 'flipCard'">
    <div class="card" [class.flipped]="isFlipped" (click)="toggleFlip()">
      <div class="card-inner">
        <div class="card-front">
          <h3>{{ currentItem.content.title }}</h3>
          <p>{{ currentItem.content.description }}</p>
        </div>
        <div class="card-back">
          <h4>Tips:</h4>
          <ul>
            <li *ngFor="let tip of currentItem.content.tips">{{ tip }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="currentItem.type === 'flashCard'" class="flash-card-container">
    <h3>{{ currentItem.content.title }}</h3>
    <p>{{ currentItem.content.description }}</p>
    <div *ngFor="let question of currentItem.content.questions; let qIndex = index">
      <p><strong>{{ question.question }}</strong></p>
      <div *ngFor="let option of question.options">
        <input type="radio" [name]="'question-' + qIndex" [value]="option" [(ngModel)]="selectedAnswers[qIndex]" />
        {{ option }}
      </div>
    </div>
    <button (click)="submitFlashCardAnswers()">Submit Answers</button>
  </div>

  <!-- Navigation Buttons -->
  <div class="button-container">
    <button *ngIf="!isLastItem" class="next-button" (click)="nextItem()">Next Item</button>
    <button *ngIf="isLastItem && !isLastLevel" class="next-button" (click)="nextLevel()">Next Level</button>
    <!-- <p *ngIf="isLastItem && isLastLevel">Congratulations! You have completed all levels.</p> -->
  </div>

   <!-- Congratulatory Message -->
  <p *ngIf="showCongratulatoryMessage" class="congratulatory-message">
    Congratulations! You've completed this level.
  </p>

  <!-- Navigation Buttons -->
  <div class="button-container">
    <button *ngIf="showNextLevelButton" class="next-button" (click)="nextLevel()">Next Level</button>
  </div>

</div>